.top_button{ 
    position:fixed;
    top:100px;
    left:10px;  
    margin: 0px 0px 10px 0px;
    background: white;
    border: 3px black solid;
    font-size: 30px;
    cursor:pointer;
    z-index: 1000000000;
}
#top_div{
    position:absolute;
    top:38px;
    left:30%;
    width:500px;
    border:5px solid red;
    padding:10px;
    z-index:10000000001;
    background-color: white ;
}